#logo {
      }
        body{
                background-color: #ebeff5;
        }
        #total-pedidos{
                background-color: #4cb4c7;
        }
        #pedidos-entregados{
                background-color: #7abecc;
        }
        #pedidos-pendientes{
                background-color: #7CD1C0;
        }

