{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<br>

<div class="row">
    <div class="col-md-5">
        <th></th>
        <th></th>
        <h5>CLIENTES:</h5>
        <hr>
        <div class="card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="">Detalle de clientes</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Cliente</th>
                    <th>Contacto</th>
                </tr>

                {% for cliente in cliente %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'cliente' cliente.id %}">View</a></td>
                        <td>{{cliente.name}}</td>
                        <td>{{cliente.phone}}</td>
                    </tr>
                {% endfor %}

            </table>
    </div>
</div>

<div class="col-md-7">
        <h5>TOTAL PEDIDOS:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Productos</th>
                    <th>Fecha pedido</th>
                    <th>Status</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>

                {% for pedido in pedido %}
                    <tr>
                        <td>{{pedido.productos}}</td>
                        <td>{{pedido.fecha_creacion}}</td>
                        <td>{{pedido.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'actualizar_pedido' pedido.id %}">Actualizar</a> </td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar_pedido' pedido.id %}">Eliminar</a> </td>
                    </tr>
                {% endfor %}

            </table>
    </div>
</div>

{% endblock %}
