{% load static  %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/vid_insumos_azul.jpeg' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Quiero Vender <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Denuncia imagenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mision_vision" href="#">Misión y Visión</a>
      </li>
        <li class="nav-item">
        <a class="nav-link quienes_somos" href="#">Quienes Somos</a>
      </li>
    </ul>
  </div>
</nav>