{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Productos</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Productos</th>
							<th>Categoria</th>
							<th>Marca</th>
							<th>Precio</th>
							<th>Descripción</th>
						</tr>

						{% for i in productos %}
							<tr>
								<td> {{i.name}} </td>
								<td> {{i.categoria}} </td>
								<td> {{i.marca}} </td>
								<td> {{i.precio}} </td>
								<td> {{i.descripcion}} </td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock content %}