{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for producto in productos %}
		<div class="col-lg-3">
			<hr>
			<img class="thumbnail" src="{{producto.imagen.url}}">
			<div class="box-element product">
				<h6><strong>{{producto.nombre}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{producto.precio}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}